body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#Boutique {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 8.5% - 5px);
    bottom: 0;
}

.nav {
    height: 8.5%;
    width: 7%;
}

.container {
    position: relative;
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.store {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#achatContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    justify-content: center; 
    align-items: center;
    z-index: 100;
}

#achat {
    width: 20%;
    height: 25%;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.interface {
    display: flex;
    width: 50%;
    height: 50%;
    display: 50;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    opacity: 0.6;
}

.nav {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

i::before {
    font-size: 300%;
    color: #fff;
}

.notSelected, .disabled {
    display: none;
}

.selected, .actived{
    display: flex;
}

.invisible {
    visibility: hidden;
}

.animateFadeOutDown {
    animation: fadeOutDown 1s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeOutUp {
    animation: fadeOutUp 1s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInUp {
    animation: fadeInUp 1s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeInDown {
    animation: fadeInDown 1s cubic-bezier(0.11, 0.91, 0.58, 1);
}

.animateFadeZoomIn {
    animation: fadeZoomIn 1s cubic-bezier(0.11, 0.91, 0.58, 1) forwards;
}

.animateFadeZoomOut {
    animation: fadeZoomOut 1s cubic-bezier(0.11, 0.91, 0.58, 1) forwards;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}